*{
    margin-top: 0;
    margin-bottom: 0;
}

/* INIZIO HEADER  */
.banner{
    background-image: url(../img/pattern.png), url(../img/logo.svg);
    background-color: rgb(3, 213, 255);
}

a{
    text-decoration: none;
    color: rgb(3, 213, 255);
}

.titolo{
    font-size: 2em;
}

.sottotitolo{
    font-size: 1em;
}

.note, .didascalia{
    font-size: 0.8em;
}

.sottotitolo, .note{
    color: rgb(140, 140, 140);
}
/* FINE HEADER */

.bianco{
   color: rgb(255, 255, 255);
}

.immagine1{
    background-image: contain;
}