*{
    margin-top: 0;
    margin-bottom: 0;
}

.banner{
    height: 100px;
    background-color: rgb(3, 213, 255);
    background-image: url(../img/pattern.png);
    background-size: 35%;
}

.logo{
    height: 40px;
}
.vuoto{
    height: 60%;
}

a{
    text-decoration: none;
    color: rgb(3, 213, 255);
}

address{
    font-style: normal;
}

.titolo{
    font-size: 2em;
}

.sottotitolo{
    font-size: 1em;
}

.didascalia, address time{
    font-size: 0.8em;
}

.sottotitolo{
    text-decoration: solid;
    color: rgb(140, 140, 140);
}

.tabella{
    width: 100%;
    border-collapse: collapse;
}

.v25{
    width: 25%;
}

.v50{
    width: 50%;
}

.intestazione{
    border: none;
    background-color:rgb(100, 153, 251);
    color: rgb(255, 255, 255);
    text-align: left;
}

.dispari{
    border: 0px;
    background-color: rgb(160, 233, 248);
}


.bianco{
   color: rgb(255, 255, 255);
}

.grafo, .monitor{
    height: 207px;
    background: no-repeat;
    background-attachment: local;
}

.monitor{
    background-image: url(../img/monitor.jpg);
}

.grafo{
    background-image: url(../img/graph.jpg);
}